# enum dw_pcie_as_type is declared in pcie-dw-rockchip.c,
# but not in pcie-dw-ep-rockchip.c
# CONFIG_PCIE_DW_ROCKCHIP_EP is not set

# RK3399's midgard driver is not updated yet
# CONFIG_MALI_MIDGARD is not set

# RK3588 uses Valhall so disable this outdated driver as well
# CONFIG_MALI400 is not set

# cpufreq_interactive uses unexported functions
CONFIG_CPU_FREQ_GOV_INTERACTIVE=y

# Enable I2S_TDM and related configuration to solve ES8316 kernel error printing
# Rockchip redmine:477379
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_SOC=y
CONFIG_SND_SOC_ROCKCHIP=y
CONFIG_SND_SOC_ROCKCHIP_I2S=y
CONFIG_SND_SOC_ROCKCHIP_I2S_TDM=y

## Rockchip no longer supports CAN on RK3588 & Linux 6.1 SDK
# CONFIG_CANFD_ROCKCHIP is not set
# CONFIG_CAN_ROCKCHIP is not set
CONFIG_LEDS_HTR32XX=y
CONFIG_LEDS_HTR32XX=y
CONFIG_LEDS_PWM=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y
CONFIG_LEDS_TRIGGER_TRANSIENT=y
CONFIG_LEDS_TRIGGER_CAMERA=y
CONFIG_LEDS_TRIGGER_NETDEV=y
CONFIG_LEDS_TRIGGER_PATTERN=y
CONFIG_LEDS_TRIGGER_AUDIO=y
# CONFIG_DRM_IGNORE_IOTCL_PERMIT is not set
# CONFIG_MALI_CSF_SUPPORT is not set
